<%layout("/layouts/boilerplate") %>
<body>
    <h1>All List</h1>

    <!-- <form method="get" action="/listings/new">
      <button>Add New place</button>
    </form> -->


<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
  <%for(el of all){ %>
    <a href="/listings/<%=el._id%>"  class="listing-links">
        <div class="card col">
    <img src="<%= el.image.url %>" class="card-img-top" alt="el_image" style="height:20rem;">
    
     <div class="card-img-overlay"></div>   
    <div class="card-body">
     <p class="card-text"><b><%= el.title %></b>
      <br> 
      &#8377; <%= el.price.toLocaleString
         ("en-in") %>/night
    </p>
    </div>
  </div>
    </a>

<% } %>
</div>

  




